body {
    background-color: white;
    font-family: "Anton", sans-serif;
}

/* heading */

header {
    width: 100%;
    line-height: 75px;
}

h1 {
    text-align: center;
    font-size: 50px;
    letter-spacing: 5px;
    text-shadow: 2px 2px 5px #D8BF69;
}

/* game area */

#game-area {
    background-color: #D8BF69;
    border-radius: 25px;
    height: 600px;
    width: 60%;
    margin: auto;
}

#buttons {
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

i {
    font-size: 75px;
}

i > p {
    font-size: 25px;
}

button {
    border-radius: 5px;
}


/* game information area */

#game-info {
    display: flex;
    justify-content: center;
    gap: 5%;
    font-size: 20px;
}

/* footer */

footer {
    position: absolute;
    bottom: 0;
}

footer > div {
    line-height: 75px;
    width: 100%;
    overflow: hidden;
}
